.hidden-true{
    display: none;
}
.large-font{
    font-size: large;
    color: black;
}
.margin-bottom-10{
    margin-bottom: 10px;
}

.pdf-line{
    width: 102.8%;
    height: 15px;
    border-bottom: 1px solid black;
    position: relative;
    left: -15px;
}

.border-color-black{
    border-color: black;
}

.vertical-div-line{
    display: inline;
    border-left: 1px solid #333;
    padding-bottom: 18px;
    padding-top: 20px;
    margin-left: 40%;
}
.custom-pd-bold{
    padding: 5px 5px 60px 5px;
    font-weight: bold;
    border: 1px solid #000;
}
.custom-border-1pbold{
    font-weight: bold;
    border: 1px solid #000;
    padding: 20px 10px 10px 10px;
}

.pdf-absolute{
    position: absolute;
}
.pdf-font-medium{
    font-size: medium;
}
.responsive-td-pdf{
    width:220px; 
     overflow: hidden;
}

.panel-pdf{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.container-pdf{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    /* margin-right: auto;
    margin-left: auto; */
}

.row-pdf{
    margin-right: -15px;
    margin-left: -15px;
}
.fontfamily-pdf{
    font-family: "ITCFranklinGothicStdBook";
}

.font-350-pdf{
    font-weight: 350;
}
.col-md-6-pdf{
    width: 50%;
    float: left;
}