/* The checkbox-square */
.checkbox-square {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: fit-content;
}

/* Hide the browser's default checkbox */
.checkbox-square input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark-checkox {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-style: solid;
    border-color: black;
}

/* On mouse-over, add a grey background color */
.checkbox-square:hover input ~ .checkmark-checkox {
    background-color: #fff;
    
}

/* When the checkbox is checked, add a blue background */
.checkbox-square input:checked ~ .checkmark-checkox {
    background-color: black;
}

/* Create the checkmark-checkox/indicator (hidden when not checked) */
.checkmark-checkox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark-checkox when checked */
.checkbox-square input:checked ~ .checkmark-checkox:after {
    display: block;
}

/* Style the checkmark-checkox/indicator */
.checkbox-square .checkmark-checkox:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
