/* .agent_container input{
    width: 250px !important;
} */
.ap1r1::before{
    border-color: #02CCA4 !important;
}
.ap1r1::after{
    background-color: #02CCA4 !important;
}
.ap1r2::before{
    border-color: rgb(187, 17, 11) !important;
}
.ap1r2::after{
    background-color: rgb(187, 17, 11) !important;
}
/* input[type=radio]{
position: absolute;
margin-left: 0px !important;
} */


.radio_incomplete:before{
    border: 2px solid red !important;
  }
